.navbar-vertical {
    background-color: #f8f9fa;
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

    .navbar-vertical a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        display: block;
    }

        .navbar-vertical a:hover {
            color: #f1f1f1;
            background-color: #007bff;
        }

.spazioiniziale {
    margin-left: 20%;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.Popup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style:solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
    height: 445px;
}

.PopupLog {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 227px;
}

.PopupFatture {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 290px;
}

.PopupReferente {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
    height: 227px;
}

.PopupDipendenti {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
    height: 395px;
}

.PopupReferentiCommesse {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
    height: 200px;
}

.altezzariga {
    height: 30px;
}

/*login css*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/*HOME*/
.phome {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    line-height: 0.5;
    color: Black;
    text-align: center;
    padding: 10px;
}

.bodyhome {
    background-color: aquamarine;
}
